html,
body {
  font-family: "Amazon Ember";
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* Scroll Bar */

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(66, 66, 66, 0.2);
  border: 0px;
  background-clip: padding-box;
  border-radius: 5px;
}

nav {
  background-color: grey;
  /* background-color: #232f3e; */
  padding: 1rem 1rem;
}

.menu{
  background-color: #232f3e;
}

#search_btn {
  background-color: #cc2e06;
  color: white;

  background-position: right bottom;
}

#search_btn:hover {
  background-color: #bb0a12;
  color: white;

  background: linear-gradient(to top bottom, #cc2e06 50%, #bb0a12 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.3s ease-out;
  transform: rotate(360deg);
}

/* #search_btn:hover .fa-search{
  transition: all 0.3s ease-out;
  transform: rotate(360deg);
} */

.input-group {
  width: 90%;
  margin-right: 35%;
}

#search_field {
  height: 2.4rem;
  padding: 1rem;
}

#login_btn,
#view_btn {
  /* background-color: #d3d3d3; */
  background-color: #cc2e06;
  color: white;
  padding: 0.4rem 1.8rem;
  font-family: calibri;
}

#login_btn,
#view_btn:hover {
  /* background-color: #d3d3d3; */
  background-color: #bb0a12;
  color: white;
  padding: 0.4rem 1.8rem;
  font-family: calibri;

  background: linear-gradient(to left, #cc2e06 50%, #bb0a12 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.5s ease-out;
}

#view_btn {
  background-color: #cc2e06;
  color: white;

  background-position: right bottom;
}
#cart {
  font-size: 1rem;
  color: white;
}

#cart_count {
  background-color: #cc2e06;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}

#cart_count:hover {
  background-color: #bb0a12;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}

/* Home page */
#products_heading {
  margin-top: 1.8rem;
}

.card {
  height: 100%;
}

.card1 {
  height: 430px;
}

.card:hover {
  height: 100%;
  /* background: #e2e2e2; */
  background: #eaeaea;
  cursor: pointer;
}
.card1:hover {
  height: 430px;
  /* background: #e2e2e2; */
  background: #eaeaea;
  cursor: pointer;
}

.card-title a {
  color: #2e2e2e;
}

.card-title a:hover {
  color: #cc3f06;
  text-decoration: none;
}

.card-body {
  padding-left: 0;
}

.card-text {
  font-size: 1.4rem;
}

.card-img-top {
  width: 200px;
  height: 150px;
}

.card-img-top:hover {
  width: 200px;
  height: 150px;
  transform: scale(1.2);
  -webkit-transition: 1s;
}
.ratings {
  font-size: 1.2rem;
  color: #cc2e06;
}

#no_of_reviews {
  font-size: 0.85rem;
  color: grey;
  margin-left: 0.5rem;
}

/* Footer */
footer {
  margin-top: 8rem;
  color: grey;
  bottom: 0;
  width: 100%;
}

/* Ratings */

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #cc2e06;
}

.rating-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #cc2e06;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #d2042d;
}
/* Product Details Page */
#product_id {
  color: grey;
  font-size: 0.8rem;
}

#product_price {
  font-size: 2rem;
  font-weight: bold;
}

#cart_btn,
#review_btn {
  border-radius: 2rem;
  background-color: #cc2e06;
  border: none;
  padding: 0.5rem 2rem;
  background-position: right bottom;
}

#cart_btn:hover,
#review_btn:hover {
  background: linear-gradient(to left, #cc2e06 50%, #bb0a12 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.5s ease-out;
}

#product_seller {
  color: grey;
  font-size: 0.9rem;
}

#stock_status {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

.redColor {
  color: red;
}

.greenColor {
  color: green;
}

#product_image {
  /* margin-top: 3rem; */
  margin-top: 9rem;
  z-index: 100;
}

/* Loader */
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #cc2e06;
  border-color: #cc2e06 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Cart */

.cart-item {
  margin: 1.8rem 0rem;
  padding: 0rem 0.7rem;
}

.cart-item a {
  color: grey;
}

#delete_cart_item {
  color: red;
  background: white;
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
  border: none;
}

#card_item_price {
  color: #cc2e06;
  font-weight: bold;
  font-size: 1.4rem;
}

#checkout_btn,
.review-btn {
  background-color: #cc2e06;
  border-color: #cc2e06;
  margin-top: 2rem;
  border-radius: 5rem;
  background-position: right bottom;
}

#checkout_btn:hover,
.review-btn:hover {
  background: linear-gradient(to left, #cc2e06 50%, #bb0a12 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.5s ease-out;
}

#view_order_details {
  background-color: #cc2e06;
  border-color: #cc2e06;
}

#order_summary {
  border: 1px solid #e3e3e3;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
}

.order-summary-values {
  float: right;
  font-weight: bold;
}

.stockCounter input {
  border: none;
  width: 3rem;
  text-align: center;
}

.plus,
.minus {
  padding: 0.1rem 0.5rem;
}

.stockCounter input::-webkit-outer-spin-button,
.stockCounter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: white;
}

/* Login & Register */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  font-weight: 700;
}

.wrapper form {
  padding: 2.5rem 3rem;
}

.wrapper form .btn {
  background-color: #cc2e06;
  border-color: #d2042d;
  color: white;
  margin-top: 2.5rem;
}

.wrapper form a {
  font-size: 0.9rem;
  color: grey;
}

/* Avatar */
.avatar {
  display: inline-block;
  margin-bottom: 0;
  height: 3rem;
  width: 3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-circle {
  border-radius: 50% !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

/* Header User Profile */

.avatar-nav {
  margin-right: 0.6rem;
  height: 2.2rem;
  width: 2.2rem;
}

/* Checkout Steps */

.checkout-progress div {
  box-sizing: border-box;
}

.checkout-progress {
  display: block;
  clear: both;
  margin: 20px auto;
  width: auto;
  font-family: sans-serif;
  overflow: auto;
}

.step {
  margin: 0;
  border: 0;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 5px 10px 5px 15px;
  color: grey;
  text-decoration: none;
  cursor: default;
  font-weight: bold;
  float: left;
  height: auto;
}

.incomplete {
  background: #eeeeee;
}

.active-step {
  background: #cc2e06;
  color: #fff;
}

.triangle-active {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #cc2e06;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-active {
  width: 0;
  float: left;
  border-top: 20px solid #cc2e06;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #cc2e06;
  margin-right: -1px;
}

.triangle-incomplete {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #eeeeee;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-incomplete {
  width: 0;
  float: left;
  border-top: 20px solid #eeeeee;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #eeeeee;
  margin-right: -1px;
}

/* User Profile */

.avatar-profile {
  height: 16rem;
  width: 16rem;
}

.user-info h4 {
  font-weight: 800;
  color: grey;
  margin-top: 2rem;
}

.user-info p {
  font-size: 1.1rem;
}

#edit_profile {
  background-color: #cc2e06;
  border-color: #cc2e06;
}

/* Confirm Order */

.order-confirm p,
.order-details p {
  margin-left: 1.5rem;
}

.update-btn {
  background-color: #cc2e06;
  border-color: #cc2e06;
  color: white;
}

.update-btn:hover {
  color: white;
}

/* Pagination */
.page-item.active .page-link {
  background-color: #cc2e06;
  border-color: #cc2e06;
}

.page-link {
  color: #cc2e06;
}

.page-link:hover {
  color: #cc2e06;
}

/* Admin Sidebar */

.sidebar-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  min-height: 100vh;
  font-weight: normal;
  margin-top: 0;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

#sidebar {
  min-width: 100%;
  max-width: 100%;
  background: #232f3e;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #232f3e;
}
#sidebar ul.components {
  padding: 5px 0px;
  border-bottom: 1px solid #232f3e;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: white;
  text-decoration: none;
}
#sidebar ul li a:hover {
  color: #232f3e;
  background: #fff;
}

#sidebar ul li a i {
  margin-right: 0.3rem;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #232f3e;
}
a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 1rem !important;
  padding-left: 30px !important;
  background: #232f3e;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Products List Admin */
#products_table .btn {
  padding: 0.2rem 0.5rem;
  margin-left: 0.4rem;
}

/* Dashboard */

.card-font-size {
  font-size: 1.5rem;
}

/* Reviews */

.rating {
  margin-top: 10rem;
}

.stars {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.star {
  display: inline;
  list-style: none;
  font-size: 3rem;
  padding-left: 0.9rem;
  color: #e3e3e3;
}

.star:first-child {
  padding-left: 0;
}

.orange {
  color: #cc2e06d5;
}

.yellow {
  color: #d2042d;
}

.review_user {
  font-size: 0.8rem;
  color: grey;
}
.plus-btn {
  background-color: #ffa500;
  color: white;
}

.minus-btn {
  background-color: #009fe2;
  color: white;
}

.bg-amount {
  background-color: grey;
}

.bg-orders {
  background-color: #06a4cc;
}
.bg-users {
  background-color: #4169e1;
}

.bg-stock {
  background-color: #fa9c23;
}
.bg-footer {
  background-color: #232f3e;
}

.copy {
  color: #dbdbe9;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.copyright {
  color: grey;
}

.card-related {
  text-align: center;
  opacity: 1;
  width: 200px;
  color: white;
  background-color: #f7f7f7;
  margin-left: 0;
}

.card-title-related {
  color: #262626;
  display: block;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0 !important;
}

.img1 {
  display: block;
  margin: auto;
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 40px !important;
  margin-left: -20px !important;
}

.follow {
  background-color: #3897f0 !important;
  border: 1px solid #3897f0 !important;
  border-radius: 4px;
  color: #fff;
  margin-top: 20px !important;
}

.readonly {
  background-color: hsl(0deg 0% 93%);
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
}

.zoom {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 100;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  /* width: 250% !important; */
}

.verticalSlider {
  width: 100%;
  max-width: 300px;
  max-width: 800px;
}

/*
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 32px;
  width: 32px;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.158);
}

.carousel-control-prev-icon {
  position: absolute;
  
}

.carousel-control-next-icon {
  position: absolute;
  
}

.slick-next {
  right: -26px !important;
}
*/
.slick-next {
  right: 7px !important;
}

.slick-prev {
  left: 20px !important;
  z-index: 1;
} 


.ht {
  height: 500px;
  overflow: hidden;
}

gallery {
  position: relative;
  width: 100vw;
  max-width: 960px;
  background-color: #ddd;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 auto;
  padding: 20px;
}
.gallery-img {
  width: 100%;
  border: 10px solid #fff;
  margin: 5px auto;
  @media all and (min-width: 768px) {
    width: calc(50% - 10px);
  }
}

.social {
  position: absolute;
  /* top:50%; */
  right: 0;
  /* width: 120px; */
  transform: translateY(-50%);
}

.link-des {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  color: #8e90a7;
  cursor: pointer;
  /* font-size: 14px;
    line-height: 16px;
    margin: 8px 16px 0 0;
    text-decoration: none;
    white-space: nowrap; */
}
.link-des:hover {
  text-decoration: underline;
}

.bg-user {
  background-color: rgb(227, 242, 253);
}

.dataTables_scrollHeadInner {
  margin-bottom: -18px;
}

/* 
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  right: 16px;
  font-family: "Font Awesome\ 5 Free", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  content: "\f0dd";
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 0.9em;
  display: block;
  opacity: .3;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
  position: relative;
  cursor: pointer;
}

table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:after {
  opacity: 1;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  right: 16px;
  font-family: "Font Awesome\ 5 Free", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  content: "\f0dd";
}



table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    padding-right: 30px;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    position: relative;
    cursor: pointer;
}

table.table thead th {
    border-top: none;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
table.table-sm th, table.table-sm td {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}
table.table th, table.table td {
    padding-top: 1.1rem;
    padding-bottom: 1rem;
} */

table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
  padding-right: 30px;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  position: relative;
  cursor: pointer;
}
table.table thead th {
  border-top: none;
}
.table-bordered thead td,
.table-bordered thead th {
  border-bottom-width: 2px;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
table.table-sm th,
table.table-sm td {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
table.table th,
table.table td {
  padding-top: 1.1rem;
  padding-bottom: 1rem;
}
.table-bordered thead td,
.table-bordered thead th {
  border-bottom-width: 2px;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
}
.table-sm td,
.table-sm th {
  padding: 0.3rem;
}
.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
}
.table-sm td,
.table-sm th {
  padding: 0.3rem;
}
.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
table th {
  font-size: 0.9rem;
  font-weight: 400;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
  right: 1em;
  font-family: "Font Awesome\ 5 Free", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  content: "\21C5";
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 0.9em;
  display: block;
  opacity: 0.3;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  right: 16px;
  font-family: "Font Awesome\ 5 Free", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  content: "\21C5";
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 0.9em;
  display: block;
  opacity: 0.3;
}

.serach-result {
  line-height: 20px !important;
  font-style: normal !important;
  text-transform: none !important;
  text-decoration: none !important;
  font-weight: 500;
  font-size: 16px;
  margin-top: 8px;
  display: inline-block;
  margin-left: 341px;
}

.slider-bg{
  background-color: #eaeded;
}

.menu-button{
  color: white !important;
}

.ullist{
  list-style-type:none;
}

.user-bg{
  background-color: #f0f5f9;
}